<< if isolated_client >>
<html> <body> Hello <=self.id => </body></html>
<< else >>
{% extends "<=ext.id =>/components/<=ext.id =>_tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'index' %}
{% block content %}
    <br><br>
    <div class="tagline">&ldquo; <=ext.id | camelcase =>Service 4thewin.&rdquo;</div>
{% endblock %}



{% block scripts %}
    <script>
    </script>
{% endblock %}
<< endif >>
