{% extends "base.jinja" %}
{% block main %}
    <img src="{{ url_for(service.id +'_endpoint' + '.static', filename=service.logo) }}" width="300"/>    
    {% from 'dummy/components/dummy_menu.jinja' import dummy_menu with context %}
    {{ dummy_menu(tab) }}
    {% block content %}
    {% endblock %}
{% endblock %}